.performance-wrapper {
  padding: 20px;
}

.performance-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.performance-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-box {
  display: flex;
  /* background-color: #f2f2f2; */
  border-radius: 12px;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.profile-icon {
  background-color: #ddd;
  padding: 20px;
  border-radius: 15px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.op-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-box {
  background-color: #ddd;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1rem;
}

.stats-box {
  background-color: #ddd;
  border-radius: 12px;
  padding: 15px;
  font-size: 1rem;
}

.stats-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
}

.stat-row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.stars {
  color: orange;
}

.right-panel {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.member-card {
  display: flex;
  align-items: center;
  gap: 15px;
  /* background-color: #eee; */
  padding: 12px;
  border-radius: 12px;
}

.member-icon {
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.view-btn {
  background-color: #55d6c2;
  border: none;
  border-radius: 15px;
  padding: 6px 12px;
  font-size: 1rem;
  cursor: pointer;
}
