.app-wrapper {
  background-color: #55d6c2 !important;
  height: 100vh;
}

.helpdesk-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #a2e2d8;
  width: 1000px !important;
  height: 600px !important;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

form h1 {
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 700;
}
input {
  width: 50%;
  font-size: 1rem;
  padding: 1rem;
  margin: 10px 0;
  border-radius: 4px;
}

.signinbtn {
  margin: 10px auto 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #74ce25 !important;
  padding: 10px;
  width: 150px;
  cursor: pointer;
}

.signinbtn:hover {
  background-color: #5cbf1f;
}

.redirect {
  font-size: 1.3rem;
  background-color: #94f9ea;
  margin-top: 20px;
  width: 50% !important; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.helpdesk-container form input::placeholder {
  font-size: 1.5rem; 
  color: #333;      
}
