.approval-wrapper {
  padding: 20px;
  background-color: white;
}

.approval-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.approval-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.search-bar input {
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.search-bar button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding-left: 4px;
  color: black;
}

.entry-control {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.entry-control select {
  padding: 6px;
  font-size: 14px;
  border: 1px solid #777;
  background-color: #ccc;
}

.approval-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: sans-serif;
}

.approval-table th,
.approval-table td {
  padding: 12px 15px;
  text-align: left;
  border: none;
}

.approval-table tbody tr {
  background-color: #d3d3d3; 
}

.approval-table tbody tr:hover {
  cursor: pointer;
  background-color: #a9a9a9;
}

.ticket-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.action-icons {
  /* border: 1px solid black; */
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.approve {
  color: black;
  cursor: pointer;
}

.reject {
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  background-color: black;
  color: red;
  cursor: pointer;
}


.assign-btn {
  background-color: #bbb;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.approval-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}

.pagination {
  font-weight: bold;
}
